.cowin-dashboard-container {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  background-color: #161625;
  color: #ffffff;
  font-family: 'Roboto';
  padding: 10px 5px;
}
.logo-img-and-heading-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.logo-img {
  width: 30px;
}
.tag-line-text {
  color: #2cc6c6;
  margin-left: 6px;
}
.main-heading {
  font-size: 28px;
}
.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.failure-img {
  width: 400px;
}
.failure-heading {
  font-size: 28px;
  color: #1c1c2b;
}
.loader-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
